<br>



  <%for post in @posts %>
       <div class="post">
           <h2><%= link_to post.title , post_path(post), :class => 'post_title'%></h2>
           <%=  truncate(post.content , :length => 300)  %> <%= link_to "читать далее " , post %>

           <br>

         <p>
            <%= raw(post.pre_im) %>
         </p>

         <p>
         <% post.post_images.each do |img|%>
                <%= link_to image_tag(img.photo.url(:small)), post_path(post) %>
         <% end %>
         </p>

         <p align="right"><%= link_to 'Просмотр', post , :class => 'button_small'%> </p>

         <hr>
      </div>
    
   <% end %>













